PUERTO_ESCUCHA=8004

TAM_MEMORIA=4096
TAM_PAGINA=64
ENTRADAS_POR_TABLA=4
CANTIDAD_NIVELES=2
RETARDO_MEMORIA=500
RETARDO_SWAP=15000

PATH_INSTRUCCIONES=/home/ming/Workspace/utn/so/tp-2025-testing/scripts/
PATH_SWAPFILE=/home/ming/Workspace/utn/so/tp-2025-testing/swap/swapfile.bin
DUMP_PATH=/home/ming/Workspace/utn/so/tp-2025-testing/dump_files/

LOG_LEVEL=TRACE